
.bai_7 {font-size: .7rem; color: #ffffff}
.bai_8 {font-size: .8rem; color: #ffffff}
.bai_9 {font-size: .9rem; color: #ffffff;}
.bai_10 {font-size: 1rem; color: #ffffff;}
.bai_11 {font-size: 1.1rem; color: #ffffff;}
.bai_12 {font-size: 1.2rem; color: #ffffff;}
.bai_13 {font-size: 1.3rem; color: #ffffff;}


.bai_7_bold {font-size: .7rem; color: #ffffff; font-weight: bold}
.bai_8_bold {font-size: .8rem; color: #ffffff; font-weight: bold}
.bai_9_bold {font-size: .9rem; color: #ffffff; font-weight: bold}
.bai_10_bold {font-size: 1rem; color: #ffffff; font-weight: bold}
.bai_11_bold {font-size: 1.1rem; color: #ffffff; font-weight: bold}
.bai_12_bold {font-size: 1.2rem; color: #ffffff; font-weight: bold}
.bai_13_bold {font-size: 1.3rem; color: #ffffff; font-weight: bold}

.qian_7 {font-size: .7rem; color: #999999;}
.qian_8 {font-size: .8rem; color: #999999;}
.qian_9 {font-size: .9rem; color: #999999;}
.qian_11 {font-size: 1.1rem; color: #999999;}

.qian_7_bold {font-size: .7rem; color: #999999; font-weight: bold}
.qian_8_bold {font-size: .8rem; color: #999999; font-weight: bold}
.qian_9_bold {font-size: .9rem; color: #999999; font-weight: bold}
.qian_11_bold {font-size: 1.1rem; color: #999999; font-weight: bold}
.qian_12_bold {font-size: 1.2rem; color: #999999; font-weight: bold}



.hui_7 {font-size: .7rem; color: #666666;}
.hui_8 {font-size: .8rem; color: #666666;}
.hui_9 {font-size: .9rem; color: #666666;}
.hui_10 {font-size: 1rem; color: #666666;}
.hui_11 {font-size: 1.1rem; color: #666666;}

.hui_7_bold {font-size: .7rem; color: #666666; font-weight: bold}
.hui_8_bold {font-size: .8rem; color: #666666; font-weight: bold}
.hui_9_bold {font-size: .9rem; color: #666666; font-weight: bold}
.hui_11_bold {font-size: 1.1rem; color: #666666; font-weight: bold}
.hui_12_bold {font-size: 1.2rem; color: #666666; font-weight: bold}

.hei_7 {font-size: .7rem; color: #333333;}
.hei_8 {font-size: .8rem; color: #333333;}
.hei_9 {font-size: .9rem; color: #333333;}
.hei_10 {font-size: 1rem; color: #333333;}
.hei_11 {font-size: 1.1rem; color: #333333;}
.hei_12 {font-size: 1.2rem; color: #333333;}
.hei_13 {font-size: 1.3rem; color: #333333;}


.hei_7_bold {font-size: .7rem; color: #333333; font-weight: bold}
.hei_8_bold {font-size: .8rem; color: #333333; font-weight: bold}
.hei_9_bold {font-size: .9rem; color: #333333; font-weight: bold}
.hei_10_bold {font-size: 1.0rem; color: #333333; font-weight: bold}
.hei_11_bold {font-size: 1.1rem; color: #333333; font-weight: bold}
.hei_12_bold {font-size: 1.2rem; color: #333333; font-weight: bold}
.hei_13_bold {font-size: 1.3rem; color: #333333; font-weight: bold}



.hong_7 {font-size: .7rem;color: #fd386c;}
.hong_8 {font-size: .8rem;color: #fd386c;}
.hong_9 {font-size: .9rem;color: #fd386c;}
.hong_10 {font-size: 1rem;color: #fd386c;}
.hong_11 {font-size: 1.1rem;color: #fd386c;}
.hong_12 {font-size: 1.2rem;color: #fd386c;}
.hong_13 {font-size: 1.3rem;color: #fd386c;}
.hong_15 {font-size: 1.5rem;color: #fd386c;}


.hong_7_bold {font-size: .7rem;color: #fd386c; font-weight:bold}
.hong_8_bold {font-size: .8rem;color: #fd386c; font-weight:bold}
.hong_9_bold {font-size: .9rem;color: #fd386c; font-weight:bold}
.hong_10_bold {font-size: 1rem;color: #fd386c; font-weight:bold}
.hong_11_bold {font-size: 1.1rem;color: #fd386c; font-weight:bold}
.hong_12_bold {font-size: 1.2rem;color: #fd386c; font-weight:bold}
.hong_13_bold {font-size: 1.3rem;color: #fd386c; font-weight:bold}
.hong_15_bold {font-size: 1.5rem;color: #fd386c; font-weight:bold}


.lv_7 {font-size: .7rem;color: #0eb77e;}
.lv_8 {font-size: .8rem;color: #0eb77e;}
.lv_9 {font-size: .9rem;color: #0eb77e;}
.lv_10 {font-size: 1rem;color: #0eb77e;}
.lv_11 {font-size: 1.1rem;color: #0eb77e;}
.lv_12 {font-size: 1.2rem;color: #0eb77e;}
.lv_13 {font-size: 1.3rem;color: #0eb77e;}
.lv_15 {font-size: 1.5rem;color: #0eb77e;}


.lv_7_bold {font-size: .7rem;color: #0eb77e; font-weight:bold}
.lv_8_bold {font-size: .8rem;color: #0eb77e; font-weight:bold}
.lv_9_bold {font-size: .9rem;color: #0eb77e; font-weight:bold}
.lv_10_bold {font-size: 1rem;color: #0eb77e; font-weight:bold}
.lv_11_bold {font-size: 1.1rem;color: #0eb77e; font-weight:bold}
.lv_12_bold {font-size: 1.2rem;color: #0eb77e; font-weight:bold}
.lv_13_bold {font-size: 1.3rem;color: #0eb77e; font-weight:bold}
.lv_15_bold {font-size: 1.5rem;color: #0eb77e; font-weight:bold}