* {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	outline: none;
}

html {
	max-width: 750px;
	margin: 0 auto;
}

div {
	max-width: 750px;
}

a {
	color: #333333;
}

.head {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0.81rem 0.94rem;
	background-color: #FFFFFF;
	z-index: 99;
	box-sizing: border-box;
	align-items: center;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.head_back,
.head_center,
.head_right {
	width: 33%;
}

.head_center {
	text-align: center;
}

.head_right {
	text-align: right;
}

.head_back img {
	width: 0.69rem;
	height: 1.28rem;
}

textarea{
	outline: none;
	resize: none;
}

.zi_body {
	padding-top: 3.25rem;
	position: relative;
}

.tab_zi_body {
	padding-top: 4.81rem;
}

.padding_bottom {
	height: 3.125rem;
}

input {

	outline: none;
}

/* 复选框样式 */
input[type="checkbox"] {
	-webkit-appearance: none;
	/*清除复选框默认样式*/
	width: 0.69rem;
	height: 0.69rem;
	background-color: #FFFFFF;
	border-radius: 2px;
	border: solid 1px #dddddd;

}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	/*清除复选框默认样式*/
	background: url(../static/img/xaunze_bg.png) no-repeat;
	/*复选框的背景图，就是上图*/
	background-size: 100% 100%;
	border: solid 1px #dddddd;
}



.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFFFFF;
	height: 3.125rem;
	box-shadow: 0px 0px 0.3125rem rgba(0, 0, 0, 0.2);
}

.footer_item {
	width: 20%;
	text-align: center;
}

@media only screen and (min-width:500px) {
	html {
		font-size: 25px !important
	}
}

@media only screen and (min-width:700px) {
	html {
		font-size: 30px !important
	}
}

.tuqi {
	position: relative;
	top: -0.625rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.tuqi img {
	width: 3.0625rem;
	height: 3.0625rem;
    box-shadow: 0px -2px 1px #dddddd;
	position: relative;
	left: -1rpx;
	border-radius: 100%;
	border: 0.3125rem solid #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 100%;

}

	.footer_item{
				position: relative;
			}
			.weidu{
				    width: auto;
				    height: 1rem;
				    line-height: 1rem;
				    border-radius: 0.5rem;
				    min-width: 1rem;
				    padding: 0 2px;
				    font-size: 0.7rem;
				    text-align: center;
				    white-space: nowrap;
				    position: absolute;
				    top: 0;
				    right: 21%;
				    box-sizing: border-box;
				    background-color: #f43a51;
				    color: #fff;
			}
			.footer_item .on{
				display: none;
			}