.ls_top_bg {
	width: 100%;
	height: 10.625rem;
	background: url(../static/img/ls_bg.png) no-repeat;
	background-size: 100% 100%;
}
.head2 {
	background: none;
	padding-top: 2.6875rem;
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	top: 0;
	width: 100%;
	padding: 3rem 0.9375rem 0.8125rem;
	z-index: 99;
	box-sizing: border-box;
	align-items: center;
}
.ls_tx_img {
	width: 4.75rem;
	height:4.75rem;
	margin-top: -2.75rem;
	border-radius: 100%;
}
.is_ren {
	width: 0.75rem;
	height: 0.6875rem;
	position: absolute;
	bottom: 0.8125rem;
	left: 11.375rem;
}
.ls_top {
	height: 12.4375rem;
	background-color: #ffffff;
	box-shadow: 0px 0px 0.375rem 0px rgba(0, 0, 0, 0.13);
	border-radius: 0.3125rem;
	text-align: center;
	padding: 0 0.9375rem;
	box-sizing: border-box;
}
.ls_padd {
	padding: 0 0.9375rem;
	margin-top: -1.4375rem;
}
.ls_tx {
	text-align: center;
	position: relative;
	margin-bottom: 0.3125rem;
}
.ls_gaikuo {
	display: flex;
	justify-content: space-between;
}
.ls_top_bg_wai {
	background-color: rgba(0, 0, 0, 0.6);
	height: 10.625rem;
}
.ls_dizhi span {
	margin-right: 0.9375rem;
}
.ls_dizhi {
	margin: 0.3125rem 0;
}
.techang {
	margin: 0.9375rem 0;
}
.techang span {
	height: 1.3125rem;
	background-color: #f5f5f5;
	line-height: 1.3125rem;
	margin-right: 0.625rem;
	padding:0.3125rem 0.3125rem;
}
.ls_gaikuo {
	border-top: 1px solid #f7f7f7;
	padding: 0.625rem 0;
}
.ls_gaikuo_item {
	position: relative;
	width: 33.33%;
}
.ls_gaikuo_item::before {
	content: '';
	width: 1px;
	height: 1.125rem;
	background-color: #f7f7f7;
	position: absolute;
	right: 0;
	top: 0.8125rem;
}
.ls_gaikuo_item:last-child::before {
	content: none;
}
.ls_gaikuo_num {
	margin-bottom: 0.25rem;
}
.ls_renzheng {
	display: flex;
	height: 2.0625rem;
	background-color: #f5f5f5;
	border-radius:0.3125rem;
	align-items: center;
	margin:0.625rem 0;
}
.ls_renzheng_item {
	width: 33.33%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ren_shiming img {
	width: 0.5625rem;
	height:0.5625rem;
	margin-right: 0.3125rem;
}
.ren_zhiye img {
	width:0.5625rem;
	height: 0.4375rem;
	margin-right: 0.3125rem;
}
.ren_pingtai img {
	width: 0.5625rem
	height: 0.4375rem;
	margin-right: 0.3125rem;
	vertical-align: middle;
}
.ls_tab {
	display: flex;
	height: 1.875rem;
	align-items: center;
	padding: 0 2.5rem;
	justify-content: space-between;
	border-bottom: 1px solid #f7f7f7;
}
.ls_tab_item {
}
.ls_tab_item_active {
	color: #333333;
	position: relative;
}

.ls_tab_item_active::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 2.1875rem;
	height: 0.125rem;
	background-color: #0eb77e;
	bottom: -0.375rem;
	left: 50%;
	margin-left: -1.125rem;
}

.bottom {
	display: flex;
	padding: 0.3125rem 0 0;
	height:3.75rem;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
}
.bottom_fenxiang,
.bottom_pingjia,
.bottom_guanzhu{
	text-align: center;
	
	width: 3.125rem;
}
.bottom_guanzhu img{
	width: 1.28rem;
		height: 1.19rem;
}
.bottom_fenxiang img {
	width: 1.1875rem;
	height: 1.125rem;
}

.bottom_pingjia img {
	width: 1.1875rem;
	height: 1.125rem;
}
.dianhua {
	width: 7.0625rem;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	background-color: #ceffee;
	border-radius:0.3125rem 0 0 0.3125rem;
}
.dianhua img {
	width: 0.8125rem;
	height: 0.875rem;
	margin-right: 0.5rem;
}
.zaixian img {
	width: 0.8125rem;
	height: 0.8125rem;
	margin-right: 0.375rem;
}
.zaixian {
	width:7.0625rem;
	height: 100%;
	background-color: #0eb77e;
	text-align: center;
	border-radius: 0 0.3125rem 0.3125rem 0;
}

.an_shaixuan .shaixuan_img {
	width: 0.9375rem;
	height:0.875rem;
	margin-right: 0.1875rem;
}
.shouqi_img{
	width: 0.625rem;
		height: 0.4375rem;
		margin-right:0.1875rem;
}
.anli_top {
	display: flex;
	justify-content: space-between;
	height: 3.125rem;
	align-items: center;
	padding: 0 0.9375rem;
}
.anli_list {
	border-bottom: 1px solid #f7f7f7;
	padding: 0.625rem 0.9375rem 0.9375rem;
}
.laiyuan {
	display: inline-block;
	height: 1.3125rem;
	background-color: #f5f5f5;
	line-height: 1.3125rem;
	padding: 0 0.5625rem;
	margin-top: 0.4375rem;
}
.more_anli {
	height: 2.8125rem;
	background-color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:1.5625rem;
}
.fenye {
	display: flex;
	justify-content: space-between;
	padding: 0 0.9375rem;
	height: 2.8125rem;
	background-color: #fcfcfc;
	align-items: center;
	margin-bottom: 1.5625rem;
}
.shangyiye,.xiayiye {
	display: flex;
	align-items: center;
}

.yeshu {
	height: 1.25rem;
	border-radius: 0.625rem;
	border: solid 1px #dcdcdc;
	line-height: 1.25rem;
	padding: 0 1.25rem;
}
.shai_list {
	display: flex;
	padding: 0 0 0 0.9375rem;
}
.shai_list_right {
	max-width: 81%;
}
.shai {
	border-bottom: 1px solid #f7f7f7;
}
.leixing {
	display: inline-block;
	height: 1.375rem;
	background-color: #f5f5f5;
	border-radius: 0.125rem;
	line-height: 1.375rem;
	padding: 0 0.5rem;
	margin: 0 0.625rem 0.625rem 0;
}
.lvsuo {
	margin-bottom: 0.625rem;
}
.ls_jianjie {
	padding: 0 0.9375rem 0.9375rem;
	line-height: 1.125rem;
	border-bottom: 0.625rem solid #f3f3f3;
}
.ls_jianjie_title {
	line-height: 2.8125rem;
}
.xixin_title {
	margin: 0.625rem 0 0.625rem;
}
.jiben_xixin,
.lianxi {
	padding: 0 0rpx 0 0.9375rem;
	border-bottom: 1px solid #f7f7f7;
}
.jiben_xixin {
	border-bottom: 0.625rem solid #f3f3f3;
}
.jiben_xixin_list {
	display: flex;
	padding: 0 0.6875rem;
	margin-bottom:0.625rem;
}
.jiben_xixin_list_right {
	margin-left: 2.6875rem;
}
.lianxi_right {
	max-width: 77%;
	margin-left: 0.8125rem;
}
.bottom_jiage{
	    margin: 0.8rem 0 0.1875rem;
}

.tan_jiage_top{
	display: flex;
}
.tan_jiage_top img{
	width: 4.6875rem;
		height: 4.6875rem;
		border-radius: 100%;
}
.tan_jiage_top_right{
	margin-left: 0.625rem;
	width: 17.1875rem;
}
.tan_shanchang{
	margin: 0.1875rem 0;
}
.tan_shanchang span{
		height: 1.375rem;
		background-color: #f5f5f5;
		display: inline-block;
		padding:  0 0.625rem;
		margin-right: 0.25rem;
		line-height: 1.4rem;
}
.tan_shanchang span:last-child{
	margin-right: 0;
}
.tan_jiage{
	padding:0.9375rem;
	background-color: #FFFFFF;
	padding-bottom: 1.5625rem;
}

.tan_jiage_title_leixing{
	display: flex;
}
.tan_jiage_title_leixing span{
		width: 5rem;
		height: 1.8125rem;
		background-color: #ffffff;
		border-radius: 0.1875rem;
		border: solid 1px #c6c6c6;
		display: inline-block;
		line-height: 1.8125rem;
		text-align: center;
		margin-right: 0.5625rem;
}
.tan_jiage_title_list_shichang span{
	display: inline-block;
	height: 1.8125rem;
		border-radius: 0.1875rem;
		border: solid 1px #c6c6c6;
		padding: 0 0.625rem;
		line-height: 1.8125rem;
		text-align: center;
		margin-right: 0.5625rem;
}
	
.tan_jiage_title {
	line-height:2.5rem;
}
.tan_jiage_btn{
	margin-top: 3.75rem;
}
.tan_jiage_btn button{
		height: 2.75rem;
		background-color: #0eb77e;
		border-radius: 1.375rem;
		font-size: 1.125rem;
		color: #FFFFFF;
		width: 100%;
	}
.tan_xuan_active{
		border: solid 1px #0eb77e !important;
		color:#0eb77e ;
}