<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="keyword" content="" />
		<meta name="description" content="" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/gonggong.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style type="text/css">
			a{
				color: #333333;
				text-decoration: none;
			}
			.body {
				padding-bottom: 4rem;
			}
		</style>
	</head>
	<body>

		<div id="app">
			<div class="body">
				<div class="index_top ">
					<div class="index_top_dingwei">
						<div class="dingwei bai_7">
							<img src="../static/img/dingwei.png" mode=""></img>
							<span class="dizhi">定位中</span>
						</div>
						<div class="index_sousuo qian_24">
							<img src="../static/img/sousuo.png" mode=""></img>
							<input confirm-type="search" @confirm="confirm" type="text" v-model="sou_txt" placeholder="详实输入案情经过，获得更精准的解答"
							 class="hei_26" />
						</div>
					</div>

					<div class="tab">
						<div class="tab_left bai_8">
							<div class="swiper-wrapper">
								<div class="swiper-slide" v-for="item in tabList">{{item.typename}}</div>

							</div>
						</div>
						<img src="../static/img/qita.png" mode=""></img>
					</div>
	             </div>
					<div class="lunbo">
						<div class="swiper-container index_lunbo">
							<div class="swiper-wrapper">
								<div class="swiper-slide" v-for="item in banner"><img :src="item.img"></div>
							</div>
						</div>

						<div class="dots">
							<block v-for="(item, index) in banner">
								<div :class="['dot', index == current ? 'active' : '']"></div>
							</block>
						</div>
					</div>
			

				<div class="index_tab hei_8">
					<div class="index_tab_item">
						<a href="../zixun/hy_tiwen.html">
							<img src="../static/img/tab1.png" mode=""></img>
							<div>问律师</div>
						</a>
					</div>
					
                  <a href="zhaolvshi.html" class="index_tab_item">
						<img src="../static/img/tab2.png" mode=""></img>
						<div>找律师</div>
					</a>
					<a href="zhishi.html" class="index_tab_item">
						<img src="../static/img/tab3.png" mode=""></img>
						<div>法律知识</div>
					</a>
					<a url="zhishi.html" class="index_tab_item">
						<img src="../static/img/tab4_4.png" mode=""></img>
						<div>法律法规</div>
					</a>
					<a href="zhaolvshi.html" class="index_tab_item ">
						<img src="../static/img/tab5.png" mode=""></img>
						<div>在线咨询</div>
					</a>
					<a url="dianhua_zixun" class="index_tab_item">
						<img src="../static/img/tab6.png" mode=""></img>
						<div>电话咨询</div>
					</a>

					<a url="tuanzhang" class="index_tab_item">
						<img src="../static/img/tab7.png" mode=""></img>
						<div>VIP</div>
					</a>

					<a url="yaoqing" class="index_tab_item">
						<img src="../static/img/tab8.png" mode=""></img>
						<div>邀请好友</div>
					</a>
				</div>
                     
				<div class="index_wenti">
					<a href="../zixun/hy_tiwen.html"><img src="../static/img/guanggao.png" mode=""></img></a>
					<div class="index_wenti_bottom hei_7">
						<div class="wenti_item">
							今日咨询:
							<block class="" v-if="data != ''">
								<span v-for="item in data.serve.today">{{ item }}</span>
							</block>
							人
						</div>
						<div class="wenti_item">
							本月咨询:
							<block class="" v-if="data != ''">
								<span v-for="item in data.serve.month">{{ item }}</span>
							</block>

							人
						</div>
						<div class="wenti_item">
							律师解答:
							<block class="" v-if="data != ''">
								<span v-for="item in data.serve.todayreply">{{ item }}</span>
							</block>
							条
						</div>
						<div class="wenti_item">
							本月解答:
							<block class="" v-if="data != ''">
								<span v-for="item in data.serve.monthreply">{{ item }}</span>
							</block>
							条
						</div>
					</div>
				</div>

				<div class="zhineng">
					<a href="../consult/zhineng_pay.html?type=1" class="zhineng_item zhineng_zaixian">
						<div class="hei_8_bold zhineng_item_type">
							在线咨询
							<img src="../static/img/index_remen.png" mode=""></img>
						</div>
						<div class="hui_7 zhineng_item_jiage">{{zhineng.zaixiantime}}小时 /￥{{zhineng.zaixianprice}}</div>
						<div class="qian_7 zhineng_item_txt">律师在线解答,</div>
						<div class="qian_7">规定范围内不限次数。</div>
					</a>
					<a href="../consult/zhineng_pay.html?type=2" class="zhineng_item zhineng_dianhua">
						<div class="hei_8_bold zhineng_item_type">
							电话咨询
							<img src="../static/img/index_tuijian.png" mode=""></img>
						</div>
						<div class="hui_7 zhineng_item_jiage">{{zhineng.dianhuatime}}分钟 /￥{{zhineng.dianhuaprice}}</div>
						<div class="qian_7 zhineng_item_txt">律师主动打电话与您联系，</div>
						<div class="qian_7">沟通效率更高。</div>
					</a>
				</div>
				<div class="tuijian">
					<div class="tuijian_top"><img src="../static/img/tuijian_title.png" mode=""></img></div>
					<div class="tuijian_list">
						<block v-for="item in data.loginlawyer">
							<div class="tuijian_item">
								<div class="tuijian_item_left" @click="go_zhuye(item.userid)"><img :src="url + item.photourl" mode=""></img></div>
								<div class="tuijian_item_right">
									<div class="ls_name">
										<div class="ls_name_left hei_9_bold" @click="go_zhuye(item.userid)">
											{{ item.nickname }}
											<img src="../static/img/renzheng.png" mode=""></img>
										</div>
										<div class="ls_name_right lv_7" @click="tochat(item.userid)">
											<img src="../static/img/xiaoxi.png" mode=""></img>
											在线咨询
										</div>
									</div>
									<div class="ls_gongsi hui_7">
										<span class="bai_7 tese_ls">特色律师</span>
										{{ item.zhiwu }}
									</div>
									<div class="ls_dizhi qian_7">
										<img src="../static/img/dizhi.png" mode=""></img>
										{{ item.lvsuo }}
									</div>
									<div class="ls_bottom qian_7">
										<div class="ls_fuwu">
											<img src="../static/img/xin.png" mode=""></img>
											已服务
											<span class="lv_7">{{ item.replynum }}</span>
											人
										</div>
										<div class="ls_pingjia">
											<img src="../static/img/pingjia.png" mode=""></img>
											评价
											<span class="lv_7">{{ item.haopingnum }}</span>
											人
										</div>
									</div>
								</div>
							</div>
						</block>
					</div>
					<button type="" class="qian_8 ls_more" onclick="location.href='zhaolvshi.html'">
						<img src="../static/img/gengduo.png" mode=""></img>
						查看更多律师>>
					</button>
				</div>
				<div class="index_zixun">
					<div class="zixun_tab qian_9">
						<span @click="change(1)" :class="{ hei: btnnum == 1 }">最新解答</span>
						<span @click="change(0)" :class="{ hei: btnnum == 0 }">最新咨询</span>
					</div>
					<div class="index_zixun_list">
						<block class="" v-if="data != ''">
							<block v-for="item in data.consultlist.new" v-if="btnnum == 0">
								<div class="index_zixun_item" @click="zixun_xq(item.consultid)">
									<div class="zixun_title hei_8">{{ item.information }}</div>
									<div class="index_zixun_item_bottom qian_7">
										<div class="shijian">
											<img src="../static/img/shijian.png" mode=""></img>
                                           {{time(item.addtime)}} 
											
										</div>
										<div class="biaoqian">
											<img src="../static/img/biaoqian.png" mode=""></img>
											{{ tabList[item.typeid].typename }}
										</div>
										<div class="dizhi">
											<img src="../static/img/dizhi.png" mode=""></img>
											{{ item.province }}-{{ item.city }}
										</div>
									</div>
								</div>
							</block>
						</block>
						<block class="" v-if="data != ''">
							<block v-for="item in data.consultlist.reply" v-if="btnnum == 1">
								<div class="index_zixun_item" @click="zixun_xq(item.consultid)">
									<div class="zixun_title hei_8">{{ item.information }}</div>
									<div class="index_zixun_item_bottom qian_7">
										<div class="shijian">
											<img src="../static/img/shijian.png" mode=""></img>
											<!-- <span class="hong_22">5</span> -->
											
											{{time(item.replytime)}} 
										</div>
										<div class="biaoqian">
											<img src="../static/img/biaoqian.png" mode=""></img>
											{{ tabList[item.typeid].typename }}
										</div>
										<div class="dizhi">
											<img src="../static/img/dizhi.png" mode=""></img>
											{{ item.province }}-{{ item.city }}
										</div>
									</div>
								</div>
							</block>
						</block>
					</div>
				</div>
				<button type="" class="qian_8 ls_more" onclick="location.href='../consult/wen.html'">
					<img src="../static/img/gengduo.png" mode=""></img>
					查看更多咨询>>
				</button>

				

				<div class="zhuanti">
					<div class="index_fazhi hei_10_bold">
						<img src="../static/img/index_fazhi.png" mode=""></img>
						法律知识
					</div>
					<div class="zhuanti_list hei_8">
						<div class="" v-for="item in fa_zhishi" @click="go_zhishi_xq(item.knowledgetypeid)">{{ item.knowledgetypename }}</div>
						<!-- 	<div class="hot">醉酒驾驶处罚的新标准</div>
				<div class="">拆迁法规</div>
				<div class="hot">交通事故怎么赔偿</div>
			     -->
					</div>
					<a href="zhishi.html" class="qian_8 more_zhuanti">
						<img src="../static/img/gengduo.png" mode=""></img>
						查看更多热门专题>>
					</a>

					<!-- <div class="tab_bg" v-if="is_gengxin">
				<div class="tan">
					<div class="tan_top"><img src="../static/img/gengxin.png" mode=""></img></div>
					<div class="tan_bottom hui_27">
						<div class="">解决了旧版本中已知BUG</div>
						<div class="tan_txt">优化了一部分不合理的功能</div>
						<img src="../static/img/gengxin_btn.png" mode="widthFix" @click="down"></img>
					</div>
				</div>
			</div> -->
				</div>



				<div id="allmap" style="display: none;"></div>




<div class="footer hui_8">
	<div class="footer_item" >
		<p><img src="../static/img/on_shouye_icon.png" ></p>
		<p class="lv_8">首页</p>
	</div>

	<div class="footer_item"  onclick="location.href='../index/zhaolvshi.html'">
		<p><img src="../static/img/lvshi_icon.png" ></p>
		<p>律师</p>
	</div>
	<div class="footer_item"  onclick="location.href='../zixun/hy_tiwen.html'">
		<div class="tuqi">
			<img src="../static/img/fly.png" mode=""></img>
		</div>
	</div>
	<div class="footer_item" onclick="location.href='../zixun/chat_list.html'">
		<p><img src="../static/img/xiaoxi_icon.png" ></p>
		<p>消息</p>
	</div>
	<div class="footer_item" onclick="location.href='../user/index.html'">
		<p><img src="../static/img/my_icon.png" ></p>
		<p>我的</p>
	</div>
</div>



			</div>

	</body>
	<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?ak=PlhFWpA02aoURjAOpnWcRGqw7AI8EEyO&v=2.0&services=false"></script>
	<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/http.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	
	
		var app = new Vue({
			el: "#app",
			data() {
				return {
					sou_txt: '',
					dizhi: '定位中',
					data: '',
					tabList: '',
					TabCur: 0,
					current: 0,
					banner: [{
							img: '../static/img/banner1.jpg'
						},
						{
							img: '../static/img/banner2.jpg'
						},
						{
							img: '../static/img/banner3.jpg'
						},
						{
							img: '../static/img/banner4.jpg'
						},
						{
							img: '../static/img/banner5.jpg'
						}
					],
					btnnum: 1,
					fa_zhishi: '',
					is_gengxin: false,
					banben: '',
					down_url: '',
					tiao_type: 1,
					zhineng: '',
					
				}
			},
			ready: function() {
				
			        
			    },
				created() {
					
					this.huoqu_index()
					this.huoqu_leixing()
					this.huoqu_url()
					this.huoqu_zhishi()
					this.huoqu_tiaozhuan()
					this.huoqu_zhineng()
				},
			methods: {
	
				// 获取知识一级
				huoqu_zhishi(){
					
					ajax('/mapi/index/knowledgetype', "POST", '', (res)=>{ // POST或GET请求直接传参
					      this.fa_zhishi = res.data.type[1];
					  }, function(err){
								
					      console.log("err",err);
					  })
				
				},
				zixun_xq(consultid){
					window.location.href='../consult/zixun_xq.html?consultid='+consultid
				},
				// 获取跳转链接
				huoqu_tiaozhuan(){
					
					ajax('/mapi/index/getzixunjump', "POST", '',(res)=>{ // POST或GET请求直接传参
					      this.tiao_type = res.data.zhan.zixunjump;
					  }, function(err){
								
					      console.log("err",err);
					  })
					
				},
					// 查看智能服务报价
				huoqu_zhineng(){
				
				ajax('/mapi/index/getzixun', "POST", '',(res)=>{ // POST或GET请求直接传参
				      this.zhineng = res.data.zhan;
				  }, function(err){
							
				      console.log("err",err);
				  })
						
				},
				huoqu_url(){
					ajax('/mapi/index/geturl', "POST", '',(res)=>{ // POST或GET请求直接传参
					      this.url = res.data.url;
					      localStorage.setItem('img_url',res.data.url)
					  }, function(err){
								
					      console.log("err",err);
					  })
					
					
				},
				huoqu_leixing(){
					
					ajax('/mapi/index/gettype', "POST", '',(res)=>{ // POST或GET请求直接传参
					      this.tabList = res.data.type;
					  }, function(err){
								
					      console.log("err",err);
					  })
				
				},
				huoqu_index() {
					
					ajax('/mapi/index/index', "POST", '',(res)=>{ // POST或GET请求直接传参
				
					      this.data=res.data
					  }, function(err){
								
					      console.log("err",err);
					  })
		     	
				},

				change(e) {
					this.btnnum = e;
				},
					go_zhishi_xq(knowledgetypeid){
						location.href='zhishi2.html?knowledgetypeid='+knowledgetypeid
					}

			}
		})
		var mySwiper = new Swiper('.index_lunbo', {
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			autoplay: false, //可选选项，自动滑动
			loop: true,
			delay: 3000,
			slidesPerView: 1,
			on: {
				slideChangeTransitionStart: function(swiper, event) {

					console.log(this.realIndex)
					$('.index_top').removeClass('index_top0 , index_top1 , index_top2 , index_top3 , index_top4')
					
					if (this.realIndex == 0) {
						$('.index_top').css('background', '#86dbbe')
						$('.index_top_dingwei').css('background', '#86dbbe')
						$('.index_top').addClass('index_top0')
					} else if (this.realIndex == 1) {
						$('.index_top').css('background', '#4075fc')
						$('.index_top_dingwei').css('background', '#4075fc')
						$('.index_top').addClass('index_top1')
					} else if (this.realIndex == 2) {
						$('.index_top').css('background', '#d6992a')
						$('.index_top_dingwei').css('background', '#d6992a')
						$('.index_top').addClass('index_top2')
					} else if (this.realIndex == 3) {
						$('.index_top').css('background', '#45adc3')
						$('.index_top_dingwei').css('background', '#45adc3')
						$('.index_top').addClass('index_top3')
					} else if (this.realIndex == 4) {
						$('.index_top').css('background', '#b83947')
						$('.index_top_dingwei').css('background', '#b83947')
						$('.index_top').addClass('index_top4')
					}

				},
			}
		})
		var tab_left = new Swiper('.tab_left', {

			autoplay: false, //可选选项，自动滑动
			loop: false,
			delay: 3000,
			slidesPerView: 5,

		})
		
		 // $.ajax({
		 //     url: '/mapi/index/index',
		 //     data: {
		        
		 //     },
		 //     type: 'POST',
		 //     success: function (result) {
		 //         var obj = eval(result);
		        
				
		 //     },
		 //     error: function (err) {
		 //         console.log(err)
		 //     }
		 // })

		// 定位
		$(function() {
			var map = new BMap.Map("allmap");
			var point = new BMap.Point(1, 1);
			map.centerAndZoom(point, 16)
			var geoc = new BMap.Geocoder();
			var geolocation = new BMap.Geolocation();
			geolocation.getCurrentPosition(function(r) {
				if (this.getStatus() == BMAP_STATUS_SUCCESS) {
					var mk = new BMap.Marker(r.point);
					map.addOverlay(mk);
					map.panTo(r.point);
					console.log("当前位置经度为:" + r.point.lng + "纬度为:" + r.point.lat);
					setLocation(r.point);
				} else {
					console.log('无法定位到您的当前位置，导航失败，请手动输入您的当前位置！' + this.getStatus());
				}
			}, {
				enableHighAccuracy: true
			});

			//获取地理位置的函数
			function setLocation(point) {
				geoc.getLocation(point, function(rs) {
					var addComp = rs.addressComponents;
					var result = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
					//$("#start").val(result);
					//$("#start_location").val(result);
					console.log(addComp)
					$('.dizhi').text(''+addComp.city)
				});
			}
		});
	</script>
</html>
